<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <header class="header">
      <h1 class="header_heading">University Student fee</h1>
    </header>
    <form class="payment_form" action="/payment" method="post">
      <input
        class="payment_input"
        type="text"
        name="student_name"
        placeholder="Fullname"
        required
      />
      <select class="form__select" name="faculty" id="faculty" required>
        <option value="" selected disabled hidden>Faculty</option>
        <option value="Business & Economics">Business & Economics</option>
        <option value="Law, Technology & Education">
          Law, Technology & Education
        </option>
        <option value="Digital marketing">Digital marketing</option>
      </select>

      <input
        class="payment_input"
        type="text"
        placeholder="grade"
        name="grade"
        class="grade"
        required
      />
      <input
        class="payment_input"
        type="text"
        placeholder="payment"
        name="payment"
        class="payment"
        required
      />

      <button class="form__btn" type="submit">submit</button>
    </form>
  </body>
</html>
